@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1d1b;
  --aranet-blue: #185c88;
  --aranet-green: #95c11f;
  --aranet-black: #1d1d1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-aranet-blue: var(--aranet-blue);
  --color-aranet-green: var(--aranet-green);
  --color-aranet-black: var(--aranet-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
